#serials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .serials {
    h1 {
      color: var(--label-dark-color, #1c1c1c);
      font-size: 24px;
      font-weight: 500;
    }
    &__block {
      display: grid;
      grid-template-columns: repeat(5, auto);
      grid-gap: 10px;
    }
  }
  .btn {
    display: flex;
    justify-content: center;
    padding: 70px 0;
    button {
      padding: 16px 24px;
      border-radius: 8px;
      border: 1px solid var(--brand-color-primary, #265cf8);
      color: var(--brand-color-primary, #265cf8);
      font-size: 18px;
      font-weight: 500;
      line-height: 120%; /* 21.6px */
      letter-spacing: 0.36px;
      cursor: pointer;
      &:hover {
        background: blue;
        color: #fff;
        transition: 0.4s;
      }
    }
  }
}
